<form asp-controller="Output" asp-action="OutputMethod" method="post">
    <label for="mail" >Enter MailID:</label>
    <input type="text" id="mail" name="usernamename"/>
    <br>
    <br>
     <label for="password" >Enter password:</label>
    <input type="password" id="password" name="passwordname" />
     <br>
    <br>
   
    <button>Submit</button>

</form>